<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>usualGuide | User Guide Made Simple</title>
		<meta http-equiv="Content-Language" content="English" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<%= stylesheet_link_tag "base", "sticky_footer" %>
		<!--[if !IE 7]>
			<style type="text/css">
				#wrap {display:table;height:100%}
			</style>
		<![endif]-->
		<%= stylesheet_link_tag "uploadify", "application" %>
		
		<link type="text/css" rel="stylesheet" media="screen" href="/javascripts/SyntaxHighlighter/styles/shCore.css">
		<link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/syntaxHighlighter.css">
		<%= stylesheet_link_tag "application" %>
		
		<%= javascript_include_tag "jquery-1.4.2.min", "swfobject", "jquery.uploadify.v2.1.0.min" %>
		

		

		<script type="text/javascript" src="/javascripts/shCoreAscii.js"></script>
		<script type="text/javascript" src="/javascripts/syntaxHighlight.js"></script>
		<script type="text/javascript" src="/javascripts/brush.js"></script>
		
		
		<% if  edit_mode?(params) %>
		<%= javascript_include_tag "editor"%>
		<% end %>
		<%= javascript_include_tag "syntax_util", "application" %>
	</head>

	<body>
		<!-- 
		<pre class="brush: js">
		function foo()
		{
		}
		</pre> 
		-->
		<!-- 
		<pre class="ruby">
					require 'rubygems'
					require 'httparty'
					
					if monkey
						strike_the_point
					else
						don_do_anything
					end
					
					def strike_the_point
						return false if there_is_nothing
					end
					
					def don_do_anything
						boombastic
					end
					</pre> 
					-->
		
		<div id="wrap">
			<%= render :file => "layouts/header.html.erb" %>
			<div id="main" class="clearfix">
				<%= yield %>
			</div> <!-- EO div#main-->
		</div><!-- EO div#wrap -->
	
	
		<%= render :file => "layouts/footer.html.erb" %>
	</body>
</html>
